
@import url(https://fonts.googleapis.com/css?family=Work+Sans);
@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great);

$logo-braun: #3d1b05;
$logo-tuerkis: #51c6db;
$hintergrund-hellblau: #f1f7fa;

@mixin bordered-button($color, $borderRadius, $fontSize, $padding) {
	border-radius: $borderRadius;
	border-color: $color;
	color: $color;
	font-size: $fontSize;
	padding: $padding;
}

body {
	font-family: 'Work Sans', sans-serif;
}

.jumbotron {
	background-color: inherit;
	text-align: center;
	color: $logo-braun;
	h1 {
		font-weight: bold;
	}
	h2 {
		font-weight: bold;
		color: $logo-tuerkis;
	}
	.row {
		padding-top: 15px;
		padding-bottom: 40px;
	}
	.btn-lg {
		@include bordered-button($logo-braun, 25px, 22px, 10px 26px);
	}
	&.ungerade {
		background-color: $hintergrund-hellblau;
		h2 {
			color: inherit;
		}
	}
}

.kundeninfo {
	background-color: #ffffff;
	border: 20px;
}

.textaufzaehlung {
	text-align: left;
	li {
		font-size: 21px;
		font-weight: 200;
	}
}

#schreibtisch {
	background-image: url(img/Foto_schoenwasserwerk_HOME_1736x925pix.jpg);
	background-position: center 75px;
	background-size: cover;
	background-repeat: no-repeat !important;
	background-color: #000000 !important;
	color: #ffffff;
	height: 925px;
	width: 100%;
	text-align: center;
	padding-top: 335px;
	h1 {
		font-family: 'Fredericka the Great', normal;
		font-size: 7em;
		font-weight: normal;
	}
	p {
		font-size: 2em;
		margin-bottom: 7px;
	}
}

div {
    .navbar-fixed-top ~ & {
	padding-top: 90px;
    }
}

.menue-balken {
	height: 10px;
	width: 100%;
}

.menue-balken.aktiv {
	background-color: $logo-tuerkis;
}

.navbar-brand {
    padding-left: 50px;
    padding-top: 15px;
    height: 74px;
}

.navbar-default .navbar-nav > li > a {
    color: $logo-braun;
    font-weight: bold;
    font-size: 1.5em;
}

.navbar-nav > li > a {
    padding-bottom: 3px;
}

.nav {
	margin-top: 7px;
}

#sww-navbar-collapse-1 {
	padding-top: 20px;
}

#main-footer {
	background-color: $logo-braun;
	color: #ffffff;
	font-weight: bold;
	margin-top: 35px;
}


#main-footer div div {
	padding-top: 10px;
	padding-bottom: 10px;
	a {
		color: #ffffff;
	}
}

#footer-bottom {
	height: 24px;
	background-image: url(img/logo-leiste-175x24.png);
	margin: 0px;
	padding: 0px;
	width: 100%;
}
