doctype transitional
html(lang="de")
head
	title Schönwasserwerk Layout
	meta(http-equiv="content-type", content="#{contentType}; charset=UTF-8")
	mata(http-equiv='X-UA-Compatible', content='IE=edge')
	link(href="css/bootstrap.min.css", rel="stylesheet")
	link(href="schoenwasserwerk.css", rel="stylesheet")
      
body
	nav(class=['navbar', 'navbar-default', 'navbar-fixed-top'] id="top-navbar")
		div(class='container-fluid', id='top-navbar-inner')
			div.navbar-header
				a(class='navbar-brand', href='#')
					img(alt='schönwasserwerk', src='img/schoenwasser_2016_rgb.png')
			div(class=["collapse", "navbar-collapse"], id="sww-navbar-collapse-1")
				ul(class=["nav", "navbar-nav", "navbar-right"])
					each val in ["Büro", "Logos", "Corporate Design", "Über", "Kontakt"]
						li
							a(href="#")= val
	
	div(class='jumbotron', id='schreibtisch')
		h1 schön und gut.
		p Logos und Corporate Design für kleine Unternehmen 
		p mit großem Anspruch. Sympathisch, klar und aussagekräftig.
		p Vermitteln Sie Qualität und Kompetenz.
			
	div(class='jumbotron', id='logos')
		h1 Logos.
		p Das visuelle Herz jedes Unternehmens, die Basis jeden Corporate Designs.
			| Individuell und passend, mit hohem Wiedererkennungswert.
		div.row
			each val in ['dr-hemstege.png', 'barbara-bismark.png', 'maedchenklamotte.png']
				div(class=['col-xs-6', 'col-md-3'])
					a(href='#', class='thumbnail')
						img(src="img/logo-beispiel/"+val)
		button(type="button", class=["btn", "btn-default"]) Mehr Logos ansehen
		
	footer(id='main-footer')
		div.container
			div.row
				div.col-md-4
					| schönwasserwerk <br/>
					| Büro für Grafik & Webdesign <br/>
					| Stephanie Kessler <br/>
					| Rolandswoort 11
					| 22763 Hamburg
					p 
					| Tel. 040 - 55 432 423 <br/>
					| Fax 040 - 55 432 422 <br/>
					| mail@schoenwasserwerk.de <br/>
					| www.schoenwasserwerk.de
				div.col-md-4
					a(href='#') XING Button
				div.col-md-4
					a(href='#') Impressum
					
		div(class='container', id='footer-bottom')
			
	script(src="js/jquery.min.js")
	script window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')
	script(src="js/bootstrap.min.js")